@import "tailwindcss";



.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* thin scrollbar */
  margin-left: 8px; /* offset from right */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /* track color */
  margin-left: 8px;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000; /* thumb color */
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #333333; /* thumb hover color */
}
